# Ignore node_modules directory
/node_modules

# Ignore the package-lock.json file
package-lock.json

# Ignore redis-7.2.3 directory
redis-7.2.3

# Ignore the redis-7.2.3.tar.gz.1 file
redis-7.2.3.tar.gz.1

# Ignore the redis-7.2.3.tar.gz file
redis-7.2.3.tar.gz
